body {
 	font-family: 'Open Sans';
 	font-size: .7em;
  margin: 0 auto;
  padding: 0;
  height: 100%;
  width: 100%;
}

a {
  color: #00B7FF;
}

.container{
	height: 90vh;
	display: flex;
    justify-content: center;
    align-items: center;
}

.innermost_circ{
	font-family: 'Montserrat';
	font-size: .9em;
	height: 220px;
	width: 220px;
	display: flex;
    justify-content: center;
    align-items: center;
	margin:auto;
	border-radius: 100%;
    background: transparent;
    border: 30px solid #F4E842;
    z-index: 1;
}

.middle_circ{
	height: 300px;
	width: 300px;
	display: flex;
    justify-content: center;
    align-items: center;
	margin:auto;
	border-radius: 100%;
    background: transparent;
    border: 20px solid #84DCC6;
    z-index: 1;
}

.outer_circ{
	height: 350px;
	width: 350px;
	display: flex;
    justify-content: center;
    align-items: center;
	margin:auto;
	border-radius: 100%;
    background: transparent;
    border: 10px solid #222222;
    z-index: 1;
}

#my_camera{
	display: none;
}

#my_result{
	display: none;
}

#cam_clicker{
	display: none;
	position: absolute;
	top: 70%;
}